*{  /*all elements*/
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    box-sizing:border-box;
}

.navbar{
  height: 1%;
  padding-top: 2%;
  padding-left:6%;
  align-items: center;

}


.row{
  display:flex;
  align-items: center;
}

.col{
  flex-basis: 50%;
  padding: 1%;
}

h1{
  color: 'black';
  font-size: 10vw;
  margin-left: 20%;

}

p{
  color: 'black';
  font-size: 18px;
  line-height: 20px;
  margin-left: 20%;
}


.image:hover{
  transform:translateY(-5%);
}


.card{
  min-width: 20%;
  display: inline-block;
  box-sizing: border-box;
  margin: 2% 1%;
  background-size: cover;

}

.card .image{
  position: relative;
  min-width: 200px;
  width: 35%;
  height:35%;
  margin:2% 2%;
  box-sizing: border-box;
  display:inline-block;
  text-align: center;
  transition:transform
  0.5s;

}

.card .image .imgbox img{
  max-width: 100%;

}


.top-left{
  position: absolute;
  top: 8%;
  left: 9%;
  /* right: 9%; */
  color: #000000;
  font-size: 100%;
}
